majorly categorical data are of two type
1-Nominal - where all values are equal
2-Oridnal - where values are not equal

we will study two encoding tech 

1- Oridnal Encoding (for Oridnal data) and Label encoding is similar to it and it is applied to target column if it is categorical 
2- One Hot Encoding (for Nominal data)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("customer.csv")
df.sample(5)

# gender,purchased-nominal categorical data
# review,scjool-oridnal categorical data

# review,school-oridnal encoder
# purchased-label encoder
# gender-one hot encoder

    age  gender   review education purchased
22   18  Female     Poor        PG       Yes
13   57  Female  Average    School        No
27   69  Female     Poor        PG        No
34   86    Male  Average    School        No
39   76    Male     Poor        PG        No

In [3]:
df=df.iloc[:,2:]

In [4]:
df.sample(5)

     review education purchased
47     Good        PG       Yes
9      Good        UG       Yes
29  Average        UG       Yes
21  Average        PG        No
1      Poor        UG        No

In [8]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,:2],df.iloc[:,2:],test_size=0.25)

X_train.shape,X_test.shape

((37, 2), (13, 2))

In [10]:
X_train.sample(5)

     review education
21  Average        PG
24  Average        PG
49     Good        UG
12     Poor    School
19     Poor        PG

In [11]:

y_train.sample(5)

   purchased
26        No
18        No
15        No
17       Yes
20       Yes

In [16]:
from sklearn.preprocessing import OrdinalEncoder

# categories contain one d lists equal to column count in which we want to apply OridOrdinalEncoder and inside 
# those list values are give in order as their values like good is highest etc

oe=OrdinalEncoder(categories=[["Poor","Average","Good"],["School","UG","PG"]])

oe.fit(X_train)

X_train_transformed=oe.transform(X_train)
X_test_transformed=oe.transform(X_test)

In [13]:
X_train_transformed

array([[1., 2.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [2., 0.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [1., 0.],
       [1., 1.],
       [2., 1.],
       [0., 0.],
       [1., 1.],
       [2., 0.],
       [0., 0.],
       [0., 1.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [2., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [2., 2.],
       [1., 2.],
       [0., 2.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [0., 0.],
       [2., 0.],
       [1., 2.],
       [2., 2.],
       [2., 2.],
       [2., 0.],
       [2., 0.],
       [2., 1.]])

In [17]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

le.fit(y_train)

y_train_transformed=le.transform(y_train)
y_test_transformed=le.transform(y_test)

C:\Users\panka\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:93: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\panka\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
C:\Users\panka\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [20]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [22]:
y_train_transformed

array([0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1])